---
export interface Props {
  startDate: string;
  endDate: string;
}

const { startDate, endDate } = Astro.props;

import calendarIcon from "./timePeriod/calendar-icon.svg";
---

<div class="time-period">
  <img class="calendar-icon" src={calendarIcon.src} alt="Dates: " />
  <span>
    {startDate} - {endDate}
  </span>
</div>

<style>
  .time-period {
    background: var(--color-primary);
    color: var(--color-text-secondary);
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;

    > img {
      display: inline-block;
      fill: var(--color-text-secondary);
      height: 1.125em;
      margin-right: 10px;
      padding-bottom: 0.2em;
      width: auto;
    }

    > span {
      line-height: 1;
    }
  }

  @media screen and (prefers-color-scheme: dark) {
    .time-period {
      background: var(--color-dark);
    }
  }
</style>
