---
import calculateAge from "../helpers/calculateAge";
import Layout from "../layouts/Layout.astro";
import homepage from '../content-static/homepage.json';

const age = calculateAge(new Date(homepage.dateOfBirth));
---

<Layout>
  <h2>{homepage.heading}</h2>

  <p>{homepage.paragraph1[0]} website.</p>

  <p>
    {homepage.paragraph2[0]+' '}<span id="age">{age}</span>{' '+homepage.paragraph2[1]}
  </p>

  <p>
    {homepage.paragraph3[0]+' '}
    {
      homepage.isGingerFotoEnabled ? (
        <a href="https://gingerfoto.com" target="_blank">
          {homepage.paragraph3[1]}
        </a>
      ) : (
        homepage.paragraph3[1]
      )
    }
    {' '+homepage.paragraph3[2]}
  </p>
</Layout>

<script>
  import { dateOfBirth } from '../content-static/homepage.json';
import calculateAge from "../helpers/calculateAge";

  const ageEl = document.querySelector<HTMLSpanElement>("span#age");
  if (ageEl) {
    ageEl.textContent = calculateAge(new Date(dateOfBirth)).toString();
  }
</script>

<style>
  p {
    font-size: 1.25em;
    line-height: 1.75;
  }
</style>
