---
import calculateAge from "../helpers/calculateAge";
import Layout from "../layouts/Layout.astro";
import { dateOfBirth, isGingerPhotoEnabled } from "../config";

const age = calculateAge(new Date(dateOfBirth));
---

<Layout>
  <h2>Hello!</h2>

  <p>My name is Gabriel, and this is my website.</p>

  <p>
    I'm a <span id="age">{age}</span> year old engineer, specialising in DevOps/SRE,
    previously being a full time Developer. I have been extremely passionate about
    IT my whole life. I also love computer hardware, system and server administration.
  </p>

  <p>
    Besides IT, I'm a
    {
      isGingerPhotoEnabled ? (
        <a href="https://gingerfoto.com" target="_blank">
          photographer
        </a>
      ) : (
        "photographer"
      )
    }
    and a huge fan of philosophy.
  </p>
</Layout>

<script>
  import { dateOfBirth } from "../config";
  import calculateAge from "../helpers/calculateAge";

  const ageEl = document.querySelector<HTMLSpanElement>("span#age");
  if (ageEl) {
    ageEl.textContent = calculateAge(new Date(dateOfBirth)).toString();
  }
</script>

<style>
  p {
    font-size: 1.25em;
  }
</style>
