<a href="/">About me</a>
<a href="/projects">Projects</a>
<a href="/experience">Experience</a>
<a href="https://github.com/nickelghost" target="_blank">GitHub</a>

<style>
  a {
    background: color-mix(in srgb, var(--color-primary), black 25%);
    color: inherit;
    display: block;
    font-weight: 600;
    padding: 16px;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    background: color-mix(in srgb, var(--color-primary), black 15%);
    transition: var(--transition);
  }
</style>
